<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".auth.authorization.ui.AuthorizationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/mastodon_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.authentication.ui.AuthenticationActivity"
            android:exported="false" />
    </application>
</manifest>