.cxx
.DS_Store
.externalNativeBuild
.gradle/
.idea/*
.kotlin/
!.idea/externalDependencies.xml
!.idea/icon.svg
!.idea/codeStyles
!.idea/copyright
build/
/app/default/release
/app/google-services.json
/captures
/.signing
*.iml
local.properties
